<h2 class="page-headline">Profile for <%= @user.email %></h2>

  <h3>Your Posts:</h3>
  <ul>
    <%= render @user.posts %>
  </ul>
  <br>

<%= link_to "New Post", new_post_path, id: "new_post", class: "btn btn-default", remote: true %>
