<h2 class="page-headline">Current Jots:</h2>

<ul>
  <% @posts.each do |post| %>
    <li>
      <span class="strong-title"><%= post.title %></span>
      <span class="by-style"> by <%= post.user.email %></span>
      <br>
      <%= post.content %>
    </li>
  <% end %>
</ul>
