.sign-in-jazz {
  float: right;
  padding: 1.75%;
}

#header {
  background-color: #CAD2E3;
}

#site-name {
  font-family: 'Kranky', cursive;
  font-size: 2.5em;
  color: #444;
  font-weight: bold;
}

.page-headline {
  font-family: 'Kranky', cursive;
}

.sign-in-jazz {
  font-family: 'Lora', serif;
}

body {
  padding: 7%;
  background-image: url('paper.png');
  background-repeat: repeat-x;
  font-family: times;
}


.notice {
  margin:0;
}

.alert {
  margin:0;
}

#footer {
  background-color: #CAD2E3;
  font-family: 'Lora', serif;
}

#copyright {
  margin: 1.75% 1.75% 1% 1%;
  float: right;
}
